// Define variables
$backgroundColor: #ffffff;
$fontColor: #323232;

// Style container
.hypermodals-modal-container {
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99; // Less than notification
    top: 0;
    left: 0;

    .hypermodals-modal {
        padding: 25px;
        padding-top: 65px;
        border-radius: 20px;
        align-items: center;
        background-color: $backgroundColor;
        box-sizing: border-box;
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);

        position: relative;
        transform: translate(-50%, 0%);
        left: 50vw;
        margin: 10vh 0;
        width: Min(95%, 1000px); // TODO: Fix sass issue (workaround with capital M) & Allow user to set the 1000px

        // Apply enter animation
        animation-name: hypermodals-modal-enter;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.7, 0.01, 0.4, 1);

        // Style close btn
        .hypermodals-modal-closebtn {
            position: absolute;
            right: 15px;
            top: 15px;
            height: 50px;
            width: 50px;
            border-radius: 15px;
            border: none;
            transition: filter 0.3s ease-in-out;
            cursor: pointer;
            color: $fontColor; // Adapt
            background-color: $backgroundColor;
            filter: brightness(0.97);
            font-size: 20px;

            &:hover {
                filter: brightness(0.89);
            }
        }

        // Spacing between closebtn and content
        .hypermodals-modal-content {
            padding-top: 15px;
        }

        // Apply exit animation
        &.hypermodals-modal-exit {
            animation-name: hypermodals-modal-exit;
            animation-duration: 0.6s;
            animation-timing-function: cubic-bezier(0.7, 0.01, 0.28, 1.29);
            transform: translate(-50%, -120%);
        }
    }
}

.hm-template {
    display: none;
}

// Enter & Exit Animations
@keyframes hypermodals-modal-enter {
    0% {
        transform: translate(-50%, 50vh);
        opacity: 0;
        box-shadow: none;
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0%);
        opacity: 1;
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
    }
}

@keyframes hypermodals-modal-exit {
    0% {
        transform: translate(-50%, 0%);
        opacity: 1;
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
    }
    70% {
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 50vh);
        opacity: 0;
        box-shadow: none;
    }
}
