// Define variables
$lightBgColor: #f0f0f0;
$lightFontColor: #323232;

$darkBgColor: #323232;
$darkFontColor: white;

// Style container
.uimodals-notification {
    border-radius: 20px;
    padding: 15px;
    display: inline-flex;
    align-items: center;
    width: auto;
    left: 50vw;
    position: fixed;
    transform: translate(-50%, 20%);
    top: 0;
    z-index: 100;

    animation-name: uimodals-notification-enter;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.7, 0.01, 0.28, 1.29);

    & * {
        font-size: 20px;
    }

    // Remove generic styling
    p,
    button,
    i,
    img {
        margin: 0;
        padding: 0;
    }

    // Increase icon size if using "class"
    i {
        font-size: 30px;
        margin-right: 30px;
    }

    // Size for image icon
    img {
        margin-right: 30px;
        height: 50px;
        width: 50px;
        object-fit: cover;
    }

    p {
        flex: 20;
    }

    button {
        margin-left: 30px;
        border: none;
        height: 50px;
        width: 50px;
        border-radius: 15px;
        transition: filter 0.3s ease-in-out;
        cursor: pointer;
    }

    // Assign container colors for "dark" theme
    &.dark {
        background-color: $darkBgColor;
        color: white;

        button {
            background-color: $darkBgColor;
            color: $darkFontColor;
            filter: brightness(1.2);

            &:hover {
                filter: brightness(1.4);
            }
        }
    }

    // Assign container colors for "light" theme
    &.light {
        background-color: $lightBgColor;
        color: $lightFontColor;

        button {
            background-color: $lightBgColor;
            filter: brightness(0.95);
            color: $lightFontColor;

            &:hover {
                filter: brightness(0.85);
            }
        }
    }

    // Apply exit animation
    &.exit {
        animation-name: uimodals-notification-exit;
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.7, 0.01, 0.28, 1.29);
        transform: translate(-50%, -120%);
    }
}

// TODO: Rename
@keyframes uimodals-notification-enter {
    from {
        transform: translate(-50%, -120%);
    }
    to {
        transform: translate(-50%, 20%);
    }
}

@keyframes uimodals-notification-exit {
    from {
        transform: translate(-50%, 20%);
    }
    to {
        transform: translate(-50%, -120%);
    }
}
